.baf{background-attachment:fixed;}
.bah{background-attachment:inherit;}
.bai{background-attachment:initial;}
.bal{background-attachment:local;}
.bas{background-attachment:scroll;}
.bri{background-repeat:inherit;}
.brn{background-repeat:no-repeat;}
.brx{background-repeat:repeat-x;}
.bry{background-repeat:repeat-y;}

.fsb{font-style:bold;}
.fso{font-style:oblique;}
.fsn{font-style:normal;}
.fvi{font-variant:inherit;}
.fvn{font-variant:normal;}
.fvs{font-variant:small-caps;}
.fso{font-style:oblique;}

.tac{text-align:center;}
.taj{text-align:justify;}
.tal{text-align:left;}
.tar{text-align:right;}
.tdb{text-decoration:blink;}
.tdi{text-decoration:inherit;}
.tdl{text-decoration:line-through;}
.tdn{text-decoration:none;}
.tdo{text-decoration:overline;}
.tdu{text-decoration:underline;}
.ttc{text-transform:capitalize;}
.tti{text-transform:inherit;}
.ttl{text-transform:lowercase;}
.ttn{text-transform:none;}
.ttu{text-transform:uppercase;}

.vaba{vertical-align:baseline;}
.vabo{vertical-align:bottom;}
.vai{vertical-align:inherit;}
.vam{vertical-align:middle;}
.vasb{vertical-align:sub;}
.vasp{vertical-align:super;}
.vatt{vertical-align:text-top;}
.vatb{vertical-align:text-bottom;}

.wsi{white-space:inherit;}
.wsn{white-space:normal;}
.wsnw{white-space:nowrap;}
.wsp{white-space:pre;}
.wspl{white-space:pre-line;}
.wspw{white-space:pre-wrap;}