.B100{bottom:100%;}
.B50{bottom:50%;}
.B25{bottom:25%;}
.B20{bottom:20%;}
.B10{bottom:10%;}
.B5{bottom:5%;}
.B4{bottom:4%;}
.B2{bottom:2%;}
.B1{bottom:1%;}
.B{bottom:0%;}

.baf{background-attachment:fixed;}
.bah{background-attachment:inherit;}
.bai{background-attachment:initial;}
.bal{background-attachment:local;}
.bas{background-attachment:scroll;}
.bri{background-repeat:inherit;}
.brn{background-repeat:no-repeat;}
.brx{background-repeat:repeat-x;}
.bry{background-repeat:repeat-y;}
.bsc{background-size:contain;}
.bso{background-size:cover;}

.fsb{font-style:bold;}
.fso{font-style:oblique;}
.fsn{font-style:normal;}
.fvi{font-variant:inherit;}
.fvn{font-variant:normal;}
.fvs{font-variant:small-caps;}

.H100{height:100%;}
.H50{height:50%;}
.H25{height:25%;}
.H20{height:20%;}
.H10{height:10%;}
.H5{height:5%;}
.H4{height:4%;}
.H2{height:2%;}
.H{height:1%;}

.L100{left:100%;}
.L50{left:50%;}
.L25{left:25%;}
.L20{left:20%;}
.L10{left:10%;}
.L5{left:5%;}
.L4{left:4%;}
.L2{left:2%;}
.L1{left:1%;}
.L{left:0%;}

.M{margin:0%;}
.M1{margin:1%;}
.M2{margin:2%;}
.M3{margin:3%;}
.M4{margin:4%;}
.M5{margin:5%;}
.M6{margin:6%;}
.M7{margin:7%;}
.M8{margin:8%;}
.M9{margin:9%;}

.P{padding:0%;}
.P1{padding:1%;}
.P2{padding:2%;}
.P3{padding:3%;}
.P4{padding:4%;}
.P5{padding:5%;}
.P6{padding:6%;}
.P7{padding:7%;}
.P8{padding:8%;}
.P9{padding:9%;}

.R100{right:100%;}
.R50{right:50%;}
.R25{right:25%;}
.R20{right:20%;}
.R10{right:10%;}
.R5{right:5%;}
.R4{right:4%;}
.R2{right:2%;}
.R1{right:1%;}
.R{right:0%;}

.T100{top:100%;}
.T50{top:50%;}
.T25{top:25%;}
.T20{top:20%;}
.T10{top:10%;}
.T5{top:8%;}
.T4{top:4%;}
.T2{top:2%;}
.T1{top:1%;}
.T{top:0%;}

.tac{text-align:center;}
.taj{text-align:justify;}
.tal{text-align:left;}
.tar{text-align:right;}
.tdb{text-decoration:blink;}
.tdi{text-decoration:inherit;}
.tdl{text-decoration:line-through;}
.tdn{text-decoration:none;}
.tdo{text-decoration:overline;}
.tdu{text-decoration:underline;}
.ttc{text-transform:capitalize;}
.tti{text-transform:inherit;}
.ttl{text-transform:lowercase;}
.ttn{text-transform:none;}
.ttu{text-transform:uppercase;}

.vaa{vertical-align:baseline;}
.vai{vertical-align:inherit;}
.vam{vertical-align:middle;}
.vao{vertical-align:bottom;}
.vab{vertical-align:sub;}
.vap{vertical-align:super;}
.vatt{vertical-align:text-top;}
.vatb{vertical-align:text-bottom;}

.W100{width:100%;}
.W50{width:50%;}
.W25{width:25%;}
.W20{width:20%;}
.W10{width:10%;}
.W5{width:5%;}
.W4{width:4%;}
.W2{width:2%;}
.W{width:1%;}

.wsi{white-space:inherit;}
.wsn{white-space:normal;}
.wsw{white-space:nowrap;}
.wsp{white-space:pre;}
.wsl{white-space:pre-line;}
.wsw{white-space:pre-wrap;}